.a_bg {
	background: #3B5998;
}

.div_bg {
	background: white;
}

.i_col {
	color: #3B5998;
}

.a_bg_hover {
	background: white;
}

.div_bg_hover {
	background: #3B5998;
}

.i_col_hover {
	color: white;
}

.a_bg_cl {
	background: white;
}

.div_bg_cl {
	background: #3B5998;
}

.i_col_cl {
	color: white;
}

.i_col_hover2 {
	color: #3B5998;
}




